/.phpunit.cache
/node_modules

/public/build
/public/hot
/build
/hot
/public/storage
/storage/*.key
/vendor

.env
.env.backup
.env.production
.phpunit.result.cache
error_log

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

!/public/assets
!/public/assets/*
/public/css
/public/js
app/Helpers/barryvdh/laravel-dompdf/CHANGELOG.md
app/Helpers/barryvdh/laravel-dompdf/composer.json
vite.config.mjs.timestamp-1727949545676-a6c5910f065c.mjs
vite.config.mjs.timestamp-1727949545676-a6c5910f065c.mjs
vite.config.mjs.timestamp-1727949545676-a6c5910f065c.mjs
web.config
*.mjs
/plans
database/phase1_migrations.sql
/bootstrap/cache
.claude/launch.json
